@font-face {
    font-family: 'Kimura Outline';
    src: url('KimuraOutline.eot');
    src: local('Kimura Outline'), local('KimuraOutline'),
        url('KimuraOutline.eot?#iefix') format('embedded-opentype'),
        url('KimuraOutline.woff2') format('woff2'),
        url('KimuraOutline.woff') format('woff'),
        url('KimuraOutline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kimura Ultra';
    src: url('KimuraUltraBold.eot');
    src: local('Kimura Ultra Bold'), local('KimuraUltraBold'),
        url('KimuraUltraBold.eot?#iefix') format('embedded-opentype'),
        url('KimuraUltraBold.woff2') format('woff2'),
        url('KimuraUltraBold.woff') format('woff'),
        url('KimuraUltraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kimura';
    src: url('KimuraBold.eot');
    src: local('Kimura Bold'), local('KimuraBold'),
        url('KimuraBold.eot?#iefix') format('embedded-opentype'),
        url('KimuraBold.woff2') format('woff2'),
        url('KimuraBold.woff') format('woff'),
        url('KimuraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

